<div class="{{classNames()}}" *ngIf="selectedEmail">
  <div class="{{classNames('header')}}">
    <div class="{{classNames('subject')}}">{{ selectedEmail.subject || 'Empty subject' }}</div>
    <div class="{{classNames('info')}}">
      <div class="{{classNames('people')}}">{{ selectedEmail.from }} to {{ selectedEmail.to.join(', ') }}</div>
      <div class="{{classNames('date')}}">{{ selectedEmail.date.toDateString() }}</div>
    </div>
  </div>
  <app-message [messages]="messages" [filter]="filter" [messageDeepIndex]="0"></app-message>
</div>
