<div class="{{classNames()}}">
  <mat-form-field class="{{classNames('wrapper')}}">
    <mat-chip-list #filterList>
        <mat-chip
          *ngFor="let filterText of filterChips"
          [selectable]="false"
          [removable]="true"
          (removed)="removeFilter(filterText)">
          {{ filterText }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          matInput
          placeholder="Filters"
          #filterInput
          [formControl]="filterCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="filterList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addFilter($event)"
        />
      </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedFilter($event)">
      <mat-option *ngFor="let email of filteredUserEmails | async" [value]="email">
        {{ email }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
