<div>
  <div *ngFor="let row of messages[messageDeepIndex].message.split('\n')">
    <div class="row">{{ row }}</div>
  </div>
  <mat-expansion-panel
    [expanded]="expanded"
    (opened)="expanded = true"
    (closed)="expanded = false"
    *ngIf="messages[messageDeepIndex + 1]"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
          {{ messages[messageDeepIndex + 1].title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-message [messages]="messages" [messageDeepIndex]="messageDeepIndex + 1"></app-message>
  </mat-expansion-panel>
</div>
