<div class="{{classNames()}}">
  <div
    class="{{classNames('item-container', { 'is-selected': email.id === selectedEmailId })}}"
    *ngFor="let email of emails"
    (click)="selectEmail(email)"
  >
    <div class="{{classNames('item-icon')}}">
      <mat-icon style="color: #fff">email</mat-icon>
    </div>
    <div class="{{classNames('item-content')}}">
      <div class="{{classNames('item-title')}}">{{ email.subject || 'Empty subject' }}</div>
      <div class="{{classNames('item-text')}}">
        <div class="{{classNames('item-people')}}">{{ email.from }} to {{ email.to.join(', ') }}</div>
        <div class="{{classNames('item-date')}}">{{ email.date }}</div>
      </div>
    </div>
  </div>
</div>
