.emails-list {
  flex-grow: 1;
  width: 500px;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid rgb(248, 248, 248);

  &__item-container {
    height: 70px;
    display: flex;
    padding: 15px;
    cursor: pointer;
    align-items: center;

    &:hover, &.is-selected {
      background-color:rgb(245, 245, 245);
    }
  }

  &__item-icon {
    background-color: #c23a2b;
    width: 40px;
    height: 40px;
    flex-basis: 40px;
    flex-shrink: 0;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }

  &__item-content {
    width: 100%;
    overflow: hidden;
  }

  &__item-title {
    line-height: 20px;
    height: 20px;
    font-weight: 600;
    font-size: 16px;
    color: rgb(103, 103, 103);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__item-text {
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    display: flex;
    color: rgb(190, 190, 190);
    white-space: nowrap;
  }

  &__item-people {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__item-date {
    flex-shrink: 0;
    flex-basis: 115px;
    margin-left: 10px;
    text-align: right;
  }
}
